.App {
  text-align: center;
}

.App-header {
  background-color: ghostwhite;
  padding: 1px;
  color: darkblue;
  font-size: 3em;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  color: white;
  background-color: darkblue;
  cursor: pointer;
  display: inline-block;
}

button:hover {
  background-color: blue;
}

#image-url-or-prompt {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
}

#output {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: left;
}

#image {
  width: 500px; 
  margin-left: auto;
  margin-right: auto;
  text-align: center
}